

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Séries de la Catégorie {{ category.name }}</h1>

    {% if programs is not empty %}
        <ul>
            {% for program in programs %}
                <li>
                    {{ program.id }} - {{ program.title }} - {{ program.description }}
                    <a href="{{ path('program_show', {'id': program.id}) }}">Voir la fiche</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune série trouvée dans cette catégorie.</p>
    {% endif %}
{% endblock %}
